.redes-sociales {
    background-color: rgb(10, 15, 19);
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: end;
}

