.ext-main {
    background-color: black;
}
.video-ext {
    width: 100%;
}
.titulo-ext2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}
.titulo-ext3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    text-align: center;
}
.texto-ext {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem;
}
.situacion-conteiner {
    display: flex;
    justify-content: center;
}
.situacion-corazon {
    width: 90%;
    padding: 1rem;
}
.iframe-conteiner {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.iframe-1 {
    width: 95%;
    padding: 1rem;
}
.iframe-conteiner3 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
