.index-main {
    background-color: black;
}
.preparado-conteiner {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.preparado-corazon {
    width: 85%;
    border-radius: 2rem;
    animation: fadeIn 3s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}
.texto-conteiner {
    background-color: black;
}
.texto-index {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;

}
.iframe-container2 {
    width: 100%;
    background-color:#0a0f13
}
.iframe2 {
    width: 100%;
    display: flex;
}
.titulo-ext4 {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 1rem;
    text-align: center;
    background-color:#0a0f13;
}